//代码高亮样式

.hljs-string{
    color:$purple-darken-2;
}
.hljs-tag{
    color: $blue-darken-2;
}
.hljs-string{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span.javascript{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}