/*
全局颜色表
*/
// red
$red-lighten-5 : #FFEBEE;
$red-lighten-4: #FFCDD2;
$red-lighten-3: #EF9A9A;
$red-lighten-2: #E57373;
$red-lighten-1: #EF5350;
$red: #F44336;
$red-darken-1: #E53935;
$red-darken-2: #D32F2F;
$red-darken-3: #C62828;
$red-darken-4: #B71C1C;

// orange
$orange-lighten-5 : #FFF3E0;
$orange-lighten-4: #FFE0B2;
$orange-lighten-3: #FFCC80;
$orange-lighten-2: #FFB74D;
$orange-lighten-1: #FFA726;
$orange: #FF9800;
$orange-darken-1: #FB8C00;
$orange-darken-2: #F57C00;
$orange-darken-3: #EF6C00;
$orange-darken-4: #E65100;

// indigo
$indigo-lighten-5: #E8EAF6;
$indigo-lighten-4: #C5CAE9;
$indigo-lighten-3: #9FA8DA;
$indigo-lighten-2: #7986CB;
$indigo-lighten-1: #5C6BC0;
$indigo: #3F51B5;
$indigo-darken-1: #3949AB;
$indigo-darken-2: #303F9F;
$indigo-darken-3: #283593;
$indigo-darken-4: #1A237E;

//blue
$blue-lighten-5: #E3F2FD;
$blue-lighten-4: #BBDEFB;
$blue-lighten-3: #90CAF9;
$blue-lighten-2: #64B5F6;
$blue-lighten-1: #42A5F5;
$blue: #2196F3;
$blue-darken-1: #1E88E5;
$blue-darken-2: #1976D2;
$blue-darken-3: #1565C0;
$blue-darken-4: #0D47A1;

//purple
$purple-lighten-5: #F3E5F5;
$purple-lighten-4: #E1BEE7;
$purple-lighten-3: #CE93D8;
$purple-lighten-2: #BA68C8;
$purple-lighten-1: #AB47BC;
$purple: #9C27B0;
$purple-darken-1: #8E24AA;
$purple-darken-2: #7B1FA2;
$purple-darken-3: #6A1B9A;
$purple-darken-4: #4A148C;

// teal
$teal-lighten-5: #E0F2F1;
$teal-lighten-4: #B2DFDB;
$teal-lighten-3: #80CBC4;
$teal-lighten-2: #4DB6AC;
$teal-lighten-1: #26A69A;
$teal: #009688;
$teal-darken-1: #00897B;
$teal-darken-2: #00796B;
$teal-darken-3: #00695C;
$teal-darken-4: #004D40;

// blue-grey
$blue-grey-lighten-5:#ECEFF1;
$blue-grey-lighten-4:#ECEFF1;
$blue-grey-lighten-3:#ECEFF1;
$blue-grey-lighten-2:#ECEFF1;
$blue-grey-lighten-1:#ECEFF1;
$blue-grey: #607D8B;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$blue-grey-darken-3: #37474F;
$blue-grey-darken-4: #263238;

// grey
$grey-lighten-5: #FAFAFA;
$grey-lighten-4: #F5F5F5;
$grey-lighten-3: #EEEEEE;
$grey-lighten-2: #E0E0E0;
$grey-lighten-1: #BDBDBD;
$grey:#9E9E9E;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;


